#SceneSceneBrowser, #SceneSceneChannel, #SceneSceneChooser{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;

	background: none;
	background-color: #090909;
}

#SceneSceneBrowser {
	overflow: hidden;
}

#SceneSceneChannel {
	background: transparent;
}

body {
	font-family: sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	letter-spacing: normal;

	background: transparent;

	margin: 0;
	padding: 0;
}

#tip_menu {
	position: fixed; 
	top: 0px; 
	width: 100%;

	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

div.tip_icon {
	width: 42px;
	height: 42px;
	margin-right: 4px;
	display: inline-block;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
	color: white;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;
}

div.tip_icon_active {
	outline: 1px solid white;
	outline-offset: 2px;
}

div.tip_label {
	width: 86px;
	height: 42px;
	margin-right: 32px;
	display: inline-block;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	line-height: 42px;
}

#throbber {
	position: fixed; 
	bottom: 0px; 
	right: 0px; 
	opacity: 0;

	z-index: 1;
}

#message {
	position: fixed; 
	bottom: 0px; 
	left: 4px; 
	font-size: 200%; 
	color: white;

	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	z-index: 1;
}

.spinner {
	width: 120px;
	display: inline-block;
}

.spinner > div {
	width: 28px;
	height: 28px;
	background-color: #FFFFFF;
	
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
