td.stream_cell {
	padding: 6px;
	position: relative;
	
	width: 300px;
	height: 169px;
}

td.game.stream_cell {
	height: 420px;
}

img.stream_thumbnail {
	padding: 3px; 
	width: 300px;
	height: 169px;
	background-image: url('/images/404_game.jpg');
}

img.game.stream_thumbnail {
	height: 420px;
	background-image: url('/images/404_stream.jpg');
}

img.stream_thumbnail_focused {
	outline: 3px solid white;
	outline-offset: 3px;
}

div.stream_text {
	position: absolute;
	left: 3px;
	bottom: 6px; 
	background-color: rgba(0, 0, 0, 0.5);

	padding: 4px;
	width: 304px;
}

div.stream_title {
	padding: 5px;
	width: 100%;

	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.95);
	font-weight: 100;
	font-size: 140%;
}

div.stream_info {
	padding-top: 3px;
	width: 100%;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.70);
	font-weight: 100;
	font-size: 140%;
}
